<h1>High Scores</h1>

<div *ngIf="players">
        <table>
            <thead>
                <th>Name</th>
                <th>Score</th>
            </thead>
            <tbody>
                <tr *ngFor="let player of players">
                    <td>{{ player.name }}</td>
                    <td>{{ player.score }}</td>
                </tr>
            </tbody>
        </table>

        <a routerLink="/"><button class="btn btn-success pull-right" > Back to Home</button></a>
</div>