  <div class="left">

    <input type="text" placeholder="name" #name>
    <a routerLink="/game">
      <button class="btn btn-success pull-right" (click)="addPlayer(name.value)">Add a Player</button>
    </a>
    <a routerLink="/high_score"><button class="btn btn-success pull-right" > High Scores</button></a>
  </div>
