.body, html {
    margin: 0;
    padding: 0;
    align-content: center;
    font-family: 'Arial';
    overflow: scroll !important;
}

.left, .right {
    float:left;
    width: calc(50% - 6em);
    padding: 3em;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}